.page-header {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #f2f5f6;
    padding: 0.8rem;
    row-gap: 1rem;    
}

.page-header .input {
    height: 40px;
    width: 95%;    
    border: 0;
    padding: 0.4rem;
    border-left: 2px solid black;
    text-align: center;
    outline: none;
    background-color: #f2f5f6;
}

.page-header select {
    cursor: pointer;
    background: #f2f5f6;
    height: 40px;
    width: 150px;
    border: 0;
    outline: 0;
    text-align-last: center;
}

.icon {
    cursor: pointer;
    width: 40px;
    height: 40px;    
}

.icon:hover {
    opacity: 0.6;
}

.list {
    display: flex;
    flex-wrap: wrap;            
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.item {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr;  
    width: 30rem;    
    align-items: center;    
    text-align: center;            
    font-size: 1.2rem;
    margin: 0 1rem 1rem 0;
    background-color: #f2f5f6;
    transition: .4s;
}

.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;        
}

.item-done {
    background-color: #64e758 !important;
}

.item-done-dark {
    background-color: #64e758 !important;
    color: #000 !important;
}

.dark-mode-header {
    background-color: #232526;
}

.dark-mode-body {
    background-color: #414345;
}

.dark-mode-items {
    background-color: #232526;
    color: #fff;
}