* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f2f5f6;    
    padding: 0.8rem;
    gap: 1rem;
}

.search-box {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border: 0;
    border-left: 2px solid black;
    height: 35px;
    width: 500px;
    margin: 1rem;
    text-align: center;
    outline: none;
    background-color: #f2f5f6;
}

.btn {
    cursor: pointer;
    border: 0;
    color: #fff;
    height: 35px;
    width: 140px;
    font-size: 1rem;    
    transition: .4s;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.item {
    width: 90vw;
    display: grid;    
    align-items: center;
    grid-template-columns: 6fr 1fr 1fr;        
    border-left: 4px solid rgb(14, 15, 4);
    background-color: #f2f5f6;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    justify-content: space-between;
}

.item p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
}

.save {
    background-color: #299a0b;
}

.save:hover {
    background-color: rgb(41, 154, 11, 0.6);
}

.update, .update-item, .save-item {
    background-color: #167edf;
}

.update:hover, .update-item:hover, .save-item:hover {
    background-color: rgb(22, 126, 223, 0.6);
}

.delete, .delete-item {
    background-color: #eb2e15;
}

.delete:hover, .delete-item:hover {
    background-color: rgb(235, 46, 21, 0.6);
}

.dark {
    background-color: #232526;
}

.dark:hover {
    background-color: rgba(36, 26, 25, 0.6);
}

.dark-mode-header {
    background-color: #232526;
}

.dark-mode-body {
    background-color: #414345;
}

.dark-mode-list .item {
    background-color: #232526;
    color: #fff;
}